<div>
    <input (click)="eventEditar()" type="button" class="btn btn-primary m-2" value="Editar">
    <input (click)="eventEliminar()" type="button" class="btn btn-danger m-2" value="Eliminar">
</div>