<div >
    <div class="position-absolute top-50 start-50 translate-middle">
        <div>
            <h3>EJERCICIO FORMULARIO REACTIVO</h3>
        </div>
        <form [formGroup]="frmGroup" class="form-control">
            <div class="w-50 pt-2">
                <input class="form-control" formControlName="user" type="text" placeholder="Usuario" />
                <!-- AGREGAR LOS MENSAJES DE VALIDACION -->
                <div *ngIf="frmGroup.get('user')?.touched && frmGroup.get('user')?.errors?.['required']"> ESTE VALOR ES
                    REQUERIDO</div>
            </div>
            <div class="w-50 pt-2">
                <input class="form-control" formControlName="password" type="password" placeholder="Contrasenia" />
                <!-- AGREGAR LOS MENSAJES DE VALIDACION -->
                <div *ngIf="frmGroup.get('password')?.touched && frmGroup.get('password')?.errors?.['required']"> ESTE
                    VALOR ES REQUERIDO</div>
            </div>
        </form>
    </div>
</div>